<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1 class="display-4">Achtung!</h1>
      <p class="lead">Diesen Eintrag gibt es nicht mehr!</p>
      <hr class="my-4">
      <p>Beim Löschen dieses Eintrags ist ein Fehler aufgetreten.<br>
      Einen Eintag mit dieser ID gibt es nicht mehr.</p>
    </div>
  </div>
</div>
