<h2>Directus</h2>
<div class="form-group">
  <%= form.label :directus_graphql_endpoint %>
  <%= form.text_field :directus_graphql_endpoint, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :directus_graphql_access_token %>
  <%= form.text_field :directus_graphql_access_token, class: "form-control" %>
</div>
