      <h2>Uptime Robot</h2>
      <div class="form-group">
        <%= form.label :uptime_robot_api_key %>
        <%= form.text_field :uptime_robot_api_key, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :uptime_robot_alert_contacts %>
        <%= form.text_field :uptime_robot_alert_contacts, class: "form-control" %>
      </div>