<div class="row">
  <div class="col">
    <h1>Device</h1>

    <div class="form-group">
      <label>Token</label>
      <div><code><%= @notification_device.token %></code></div>
    </div>

    <div class="form-group">
      <label>Device type</label>
      <div><code><%= @notification_device.device_type %></code></div>
    </div>

    <div class="form-group">
      <%= link_to t("doorkeeper.applications.buttons.edit"), edit_notification_device_path(@notification_device), class: "btn btn-primary" %>
      <%= link_to t("doorkeeper.applications.buttons.back"), notification_devices_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
