# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: some_secret_key
rollbar_access_token: some_access_key
admin:
  email: admin@smart-village.app
  password: some_password

mailjet:
  api_key:
  secret_key:
  default_from:

mailer:
  notify_admin:
    to:

minio:
  endpoint: "foo"
  region: "us-east-1"
  bucket: "development"
  access_key_id: "bar"
  secret_access_key: "bar"

openweathermap:
  lat: 52.524368
  lon: 13.41053
  api_key: "foobar"

redis:
  host: "localhost"
  namespace: "sva-mainserver"
