# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: 69382149245878da38fa9317db2748f597bcb6ef5332e95c97e3cf619323dc61e78b1d15c9192b883e0213c2eef7263b442cdce088979dcc7e005f08806dcf7b
rollbar_access_token: d9e9c2bcebcf491099fcb091aa52d1b1
admin:
  email: admin@smart-village.app
  password: sqNkjXZDCEbXPm7E

mailjet:
  api_key:
  secret_key:
  default_from:

mailer:
  notify_admin:
    to:

minio:
  endpoint: "foo"
  region: "us-east-1"
  bucket: "development"
  access_key_id: "bar"
  secret_access_key: "bar"

openweathermap:
  lat: 52.524368
  lon: 13.41053
  api_key: "foobar"

directus:
  graphql_endpoint:
  graphql_access_token:

redis:
  host: "localhost"
  namespace: "sva-mainserver"
