# aws:
#   access_key_id: 123
#   secret_access_key: 345

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: 69382149245878da38fa9311234f597bcb6ef5332e95c97e3cf619323dc61e78b1d15c9192b883e0213c2eef7263b442cdce08897123456005f08806dcf7b
rollbar_access_token: some_access_kex
admin:
  email: user@name.app
  password: foobar

minio:
  endpoint: "https://fileserver."
  region: "us-east-1"
  bucket: ""
  access_key_id: ""
  secret_access_key: ""

openweathermap:
  lat: 52.524368
  lon: 13.41053
  api_key: "foobar"
